/* Contenedor de partículas */

.particlesContainer {
  position: absolute;
  pointer-events: none; /* Evita que las partículas interfieran con otros clics */
}

.particle {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  animation: moveAndFade 3s forwards;
}

@keyframes moveAndFade {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--move-x), var(--move-y));
    opacity: 0;
  }
}

